*{
	padding: 0;
	margin: 0;
}
.iphone-container{
	width: 90%;
	margin: 0 auto;
 }
 .ichoose__inner{
	width: 85%;
	margin: 0 auto; 
 }
.ichoose__info{
	align-items: start;
}
.ichoose__color-click{
	display: flex;
	}
.ichoose__text-color{
   margin: 10px;
	font-size: 14px;
	font-weight: bold;
}
.ichoose__info-title{
	font-size: 20px;
	margin-top: 30px;
}
button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(190, 183, 183, 0.2), 0 6px 20px 0 rgba(201, 193, 193, 0.19);
  cursor: pointer;
  margin: 0px 30px 50px 0px;
}
button.ichoose__12ProMaxSilver{
  background-color: #f3f5ed; 
  border: #f2f5e9;
}
button.ichoose__12ProMaxGraphite{
  background-color: #827e79; 
}
button.ichoose__12ProMaxGold{
  background-color: #f3e0c7; 
}
button.ichoose__12ProMaxBlue{
 background-color: #99b3ca; 
}
.ichoose__memory{
	font-size: 14px;
	font-weight: bold;
}
.ichoose__memory ul{
	display: flex;
   padding: 0;
}
.ichoose__memory li{
    list-style: none;
    text-decoration: none;
    padding: 10px 18px;
    margin: 20px 5px 20px 0px;
    color: grey;
    border: 1px solid #a4a5a8;
    cursor: pointer;
    font-size: 12px;
}
.ichoose__memory li:active{ 
  border:1px solid #091353; 
  
}
.ichoose__price p{
	font-size: 30px;
}
.ichoose__buy-btn{
	padding: 10px 40px;
	margin-top: 25px;
	font-size: 14px;
}
.ichoose__buy-btn>a{
	padding: 10px 25px;
	background-color: #5E8BCE;
	color: #fff;
	transition: 0.5s;
}
.ichoose__buy-btn>a:hover{	 
	background-color: #166bec;	 
}

.iphone-desc{
	margin-bottom: 20px;
}
.iphone-desc__header{
	display: flex;
}
.desc-bold{
	display: flex;
}
.iphone-desc__inner{
   width: 90%;
	margin: 0 auto;
}
.iphone-desc__header{
	font-size: 20px;
	color: rgb(51, 50, 50);
	background-color: lightgrey;
}
.iphone-desc__header p{
   padding: 10px 15px;	
}
.desc-bold{
	align-items: center;
	/* border: 1px solid rgb(234, 0, 255); */
}
.desc-bold>.bold{
	font-weight: bold;
	font-size: 17px;
	padding: 5px 10px 5px 15px;
	color: #000;
}
.desc-bold>p{ 
	font-size: 15px;
	margin-left: 20px;
	color: rgb(105, 103, 103);
}
.desc-bold ul li{
	font-size: 15px;
	margin-left: 20px;
	color: rgb(105, 103, 103);
	padding: 5px;
}


/* CART SECTION  */
