@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color:#6edae6;
    --white-color:#fff;
    --black-color:#000;
}
/* <!-- Section 1 (Showcase) -->
<!-- End Section 1 (Showcase) --> */
 
/* <!-- Section 2 (iPhone) */
a{
	color: inherit;
	text-decoration: none;
}
.iphone-container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.iphone-wrapper{
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: repeat(auto-fill,270px);
	gap: 30px 40px;
	justify-content: center;
}
.iphone-header{
	text-align: center;
}
.iphone-header>h1{
	font-size: 35px;
}
.iphone-header>p{
	font-size: 20px;
	color: grey;
	margin-bottom: 20px;
}
.product-iphone{
	background-color: #eeedeb;
   width: 300px;
	height: 350px;
	text-align: center;
	position: relative;
	border-radius: 5px;
}
.iphone-img{
	display: block;
	max-width: 100%;
	height: auto;
}
.iphone-back{
   opacity: 0;
	position: absolute;
	top: 0;
	left: 0;	 
	width: 300px;
	height: 350px;
	text-align: center;
	background-color: #F0ECE3;
	transition: 0.8s ease-in;
	border-radius: 5px;	
}
.iphone-back:hover{
   opacity: 1;
}
.iphone-back h4{
	margin-top: 100px;
}
.iphone-back i{
	color: #091353;
	font-size: 30px;
	margin-top: 10px;
}
.iphone-back a{
	border: 1px solid #091353;
	padding: 8px 12px;
}
.iphone-back a>i{
 color: #091353;
 font-size: 15px;
 margin-left: 10px;
}

/* End Section 2 (iPhone)  */

/* <!-- Section 3 (Macbook Air) */
.main-wrapper {
    background-color: var(--black-color);
    color: var(--white-color);
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh; 
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.slide:first-child {
    background-image: url('/images/1.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background-image: url('/images/2.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    background-image: url('/images/3.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide.current {
    opacity: 1;
}


.slide .content {
    position: absolute;
    bottom: 20px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 12px;
    font-size: 20px;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 0.8;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.5s;
}

.btns button#next {
    position: absolute;
    top: 50%;
    right: 15px;

}

.btns button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.btns button {
    border: 2px solid white;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 15px;
    outline: none;

}

.btns button:hover {
    background-color: var(--white-color);
    color: #333;
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}

@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}

#buy, #close, #adToCard {
    display: inline-block;
    width: 160px;
    border: 5px outset rgb(189, 127, 127);
    background-color: transparent;
    color: var(--white-color);
    padding: 13px 15px;
    border-radius: 15px;
    outline: none;
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);

}


/* Modal windows style */


#myModal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    font-size: 25px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }


  /*--- section product ---*/
.product-mac {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  cursor: pointer;
}
.product-mac h2 {
  font-size: 95px;
  font-weight: 300;
  margin-bottom: 20px;
}
.maccontainer {
  width: 1070px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.maingrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.grid-product {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  border-radius: 15px;
}
.grid-product:hover {
  background: #e1e1e1;
}
.grid-product img {
  width: 300px;
  border-radius: 15px;
}
.grid-detail {
  margin: 20px 0;
  text-align: center;
}
.grid-detail p:last-child {
  transition: .5s;
  margin-top: 10px;
}
.grid-product:hover > .grid-detail p:last-child {
  color: #3498db;
}

/*-------*/
.grid-full {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-product-full {
  background: #f1f1f1;
  grid-column: span 3;
  display: flex;
  position: relative;
}

/* apple logo animation */

.logo {
    position: relative;
    color: #fff;
    font-size: 195px;
    text-shadow: 0 0 50px #0f0,
                 0 0 100px #0f0,
                 0 0 150px #0f0,
                 0 0 200px #0f0,
                 0 0 250px #0f0;

    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%
    {
        filter: hue-rotate(0deg);
    }

    100%
    {
        filter: hue-rotate(3deg);
    }
}
/* Slide Animations */


/*<!-- End Section 3 (Macbook Air) --> */

 /* Section 4 (Apple watch)  */

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--white-color);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--primary-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 2rem;
    color:#fff;
    background: var(--primary-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position:relative;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 7rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color: black;
}

.header .navbar a:hover{
    color:var(--primary-color);
    border-bottom: .1rem solid var(--primary-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: black;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--primary-color);
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black-color);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black-color);
}

.header .search-form label:hover{
    color:var(--primary-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black-color);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--primary-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black-color);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--primary-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 40vh;
    display: flex;
    align-items: center;
    background:url(../images/bg-image.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:#fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:#eee;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black-color);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}

.about .row .content p{
    font-size: 1.6rem;
    color:#ccc;
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 40rem;
}

.menu .box-container .box h3{
    color: #000;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 3rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black-color);
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--primary-color);
}

.blogs .box-container .box .content span{
    color:var(--primary-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

.main-container{
    max-width: 2500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    margin: 0 auto; 
 

}

.fas{
    width: 30px; 
    font-size: 25px;
    border-radius: 10px;
    border: none; 
}

.main-slider{
    max-width: 1100px; 
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow-x: hidden; 
    display: flex;

}

.thumbail{
    margin-top: 8px; 
    border-radius: 3px;
    transition: 1s;
}

.btn-primary{
    width: 30%; 
    font-weight: bold; 
}
.btn-primary:hover{
    opacity: 10; 
}

.main-container .details{
font-size: 20px;
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black-color);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
 /* End Section 4 (Apple watch)  */

/* <!-- Section 5 (AirPods)  */
 .bg-white i{
    float: left;
    /*margin-left: 0;*/
    padding-left: 120px;
    cursor: pointer;
    font-size: 30px;
    
}
.parent h1{
    margin:0;
    padding-bottom: 10px;
    transform: translateX(4500%);;
    line-height: 80px; 
    font-weight: bold;
    color: rgb(240, 240, 240);
    font-size: 70px; 
    text-align: center;
    width: 10px;
    border: 5px;
    /*padding: 5px;*/
    max-width: 90%;
    text-align: center;
    /*border: 1px solid;*/
    display: inline-block;
 
}
.bg-white img{
    padding-left: 0;
  
margin-left: 0px 0px 0px 30px;

    
}

.btn{
 
    background-color: #6edae6;
    color:#FFF;
    display: inline-block;
    border: none;
    cursor: pointer;
    
    
    /*padding: 16px 30px;
  
    /*transition: transform 0.2s ease-in;
    cursor: pointer;
    text-align: center;  
    border: none;
    display: inline-block;
    margin: auto;
    width: 15*/
    
}
.btn-hover {
    transform: translateY(-15px);
}
.btn-info{
    float: left;
    width:90px;
            height:50px;
            position: relative;
            /*top: 0;*/
            bottom: 175px;
            left: 82.5%;
           margin-top: -100px;
            margin-right: -100px;
            text-align: center;
            border-radius: 20px;
  
}
.btn-light{
    float:left;
    background-color: #fff;
    color: #6edae6;
    width:90px;
            height:50px;
            position: relative;
            top: 70%;
            left: 20%;
           margin-top: -100px;
            margin-left: -100px;
            border-radius: 20px;
}
.parent{
    
    padding: 2em;
    display: flex;
    text-align: center;
    }
 
.bg-white{
    background-color: #fff;
    color: #6edae6;

}
.bg-blue{
    background-color: #6edae6;
    color: #fff;
}


/* <!-- End Section 5 (Airpods) -->  */

/* <!-- Section 6 (Contact Us) -->
<!-- End Section 6 (Contact Us) --> */