@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color:#6edae6;
    --white-color:#fff;
    --black-color:#000;
}
/* <!-- Section 1 (Showcase) -->
<!-- End Section 1 (Showcase) --> */
/* 
<!-- Section 2 (iPhone) -->
<!-- End Section 2 (iPhone) --> */

/* <!-- Section 3 (Macbook Air) */
.main-wrapper {
    background-color: var(--black-color);
    color: var(--white-color);
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh; 
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.slide:first-child {
    background-image: url('/images/1.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background-image: url('/images/2.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    background-image: url('/images/1.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide.current {
    opacity: 1;
}


.slide .content {
    position: absolute;
    bottom: 90px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 20px;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.5s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;

}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid white;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 15px;
    outline: none;

}

.buttons button:hover {
    background-color: var(--white-color);
    color: #333;
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}
/* Slide Animations */


/*<!-- End Section 3 (Macbook Air) --> */

/* <!-- Section 4 (Apple watch) -->
<!-- End Section 4 (Apple watch) --> */

/* <!-- Section 5 (AirPods) -->
<!-- End Section 5 (Airpods) --> */

/* <!-- Section 6 (Contact Us) -->
<!-- End Section 6 (Contact Us) --> */