@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color:#6edae6;
    --white-color:#fff;
    --black-color:#000;
}
/* <!-- Section 1 (Showcase) -->
<!-- End Section 1 (Showcase) --> */
/* 
<!-- Section 2 (iPhone) -->
<!-- End Section 2 (iPhone) --> */

/* <!-- Section 3 (Macbook Air) */
.main-wrapper {
    background-color: var(--black-color);
    color: var(--white-color);
    line-height: 1.6;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh; 
    width: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.slide:first-child {
    background-image: url('/images/1.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(2) {
    background-image: url('/images/2.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    background-image: url('/images/3.jpg');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide.current {
    opacity: 1;
}


.slide .content {
    position: absolute;
    bottom: 20px;
    left: -600px;
    opacity: 0;
    width: 600px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 12px;
    font-size: 20px;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 0.8;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.5s;
}

.btns button#next {
    position: absolute;
    top: 50%;
    right: 15px;

}

.btns button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.btns button {
    border: 2px solid white;
    background-color: transparent;
    color: var(--white-color);
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 15px;
    outline: none;

}

.btns button:hover {
    background-color: var(--white-color);
    color: #333;
    -webkit-transform: scale(1.5,1.5);
    -webkit-transition: all 0.3s ease-in-out;
}

@media(max-width: 500px) {
    .slide .content {
        bottom: -300px;
        left: 0;
        width: 100%;
    }
    .slide.current .content {
        transform: translateY(-300px);
    }
}

.btn, #adToCard {
    display: inline-block;
    width: 160px;
    border: 5px outset rgb(189, 127, 127);
    background-color: transparent;
    color: var(--white-color);
    padding: 13px 15px;
    border-radius: 15px;
    outline: none;
    box-shadow:7px 6px 28px 1px rgba(0, 0, 0, 0.24);

}


/* Modal windows style */


#myModal {
    display:none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #bdd4e7;
background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);

    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    font-size: 25px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }


  /*--- section product ---*/
.product-mac {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  cursor: pointer;
}
.product-mac h2 {
  font-size: 95px;
  font-weight: 300;
  margin-bottom: 20px;
}
.container {
  width: 1070px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.grid-product {
  background: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
  border-radius: 15px;
}
.grid-product:hover {
  background: #e1e1e1;
}
.grid-product img {
  width: 300px;
  border-radius: 15px;
}
.grid-detail {
  margin: 20px 0;
  text-align: center;
}
.grid-detail p:last-child {
  transition: .5s;
  margin-top: 10px;
}
.grid-product:hover > .grid-detail p:last-child {
  color: #3498db;
}

/*-------*/
.grid-full {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-product-full {
  background: #f1f1f1;
  grid-column: span 3;
  display: flex;
  position: relative;
}

/* apple logo animation */

.logo {
    position: relative;
    color: #fff;
    font-size: 195px;
    text-shadow: 0 0 50px #0f0,
                 0 0 100px #0f0,
                 0 0 150px #0f0,
                 0 0 200px #0f0,
                 0 0 250px #0f0;

    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%
    {
        filter: hue-rotate(0deg);
    }

    100%
    {
        filter: hue-rotate(3deg);
    }
}
/* Slide Animations */


/*<!-- End Section 3 (Macbook Air) --> */

/* <!-- Section 4 (Apple watch) -->
<!-- End Section 4 (Apple watch) --> */

/* <!-- Section 5 (AirPods) -->

<!-- End Section 5 (Airpods) --> */

/* <!-- Section 6 (Contact Us) -->
<!-- End Section 6 (Contact Us) --> */